<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to ADSUM, <%= @user.name %></h1>
    <p>
      You have successfully signed up for the ADSUM attendance program,
      We hope you enjoy the application and that you find it easy to use.
      Please feel free to contact the support team with any questions.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for joining and have a great day!</p>
  </body>
</html>